<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dbconfig" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=60.29.214.34)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl.BHBUS.com)));User Id=zlgj; Password=zlgj"/>
  </connectionStrings>
  <appSettings>
    <!--地图设置（中心点位置、默认比例）-->
    <add key="mapposition" value="117.68,39.03"/>
    <add key="mapzoom" value="14"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
